* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background-color: #f7f7f7;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    text-align: center;
}

.container {
    width: 80%;
    max-width: 900px;
}

h1 {
    margin-bottom: 20px;
    font-size: 28px;
}

.board {
    display: grid;
    grid-template-columns: repeat(6, 1fr); /* 6 colunas */
    grid-gap: 10px;
    margin-bottom: 20px;
}

.card {
    width: 80px;
    height: 80px;
    background-color: #ddd;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    border-radius: 10px;
    position: relative;
    transform-style: preserve-3d;
    transition: transform 0.5s;
}

.card.flipped {
    transform: rotateY(180deg);
}

.emoji {
    font-size: 40px;
    display: none;
}

.card.flipped .emoji {
    display: block;
}

.score {
    margin-bottom: 20px;
}

button {
    padding: 10px 20px;
    background-color: #4CAF50;
    color: white;
    border: none;
    cursor: pointer;
    font-size: 16px;
    margin: 5px;
}

button:hover {
    background-color: #45a049;
}
